.gallery {
  margin: 0 auto;
  width: 1140px;
  min-height: 100vh;
  padding: 0;
}

.gallery__list {
  max-width: 1140px;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: minmax(231px, 1fr);
  row-gap: 60px;
  column-gap: 30px;
  padding: 0;
}

.button_type_open-more {
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 320px;
  margin: 50px 0 169px 410px;
  padding: 11px 60px 9px;
  border: 1px solid #424242;;
  border-radius: 6px;
}

.button_type_open-more:hover {
  opacity: 0.8;
}

.button_type_save:hover {
  opacity: 0.9;
}

.text-error {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  visibility: visible;
}

.text-error-hidden {
  visibility: hidden;
  height: 0;
  visibility: 0;
  margin: 0;
}

@media all and (max-width: 1279px) {
  .gallery {
    width: 708px;
  }
  
  .gallery__list {
    max-width: 708px;
    grid-template-columns: repeat(2, 339px);
    grid-template-rows: repeat(3, 231px);
    row-gap: 47px;
    column-gap: 30px;
  }
  
  .button_type_open-more {
    margin: 50px 0 80px 194px;
  }
}


@media all and (max-width: 767px) {
  .gallery {
    width: 300px;
  }
  
  .gallery__list {
    max-width: 300px;
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(3, 199px);
    row-gap: 39px;
    column-gap: 0;
  }
  
  .button_type_open-more {
    margin: 62px 0 80px 31px;
    width: 240px;
  }
}