.not-found {
  width: 100%;
  min-height: 100vh;
  font-weight: 900;
  padding-top: 246px;
}

.not-found__title {
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 400px;
  text-align: center;
  margin: 0 auto;
}

.not-found__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-top: 3px;
}

.button_type_to-back {
  color: #4285F4;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  margin: 184px auto 0;
  width: 42px;
  display: block;
}

@media all and (max-width: 1279px) {
  .not-found {
    padding-top: 408px;
  }
}


@media all and (max-width: 767px) {
  .not-found {
    padding-top: 329px;
  }
  
  .not-found__title {
    font-size: 80px;
    width: 300px;
  }
  
  .not-found__text {
    font-size: 12px;
    margin-top: 10px;
  }
  
  .button_type_to-back {
    font-size: 12px;
    margin: 284px auto 0;
    width: 36px;
  }
}
