.form__cover {
  width: 1140px;
  margin: 0 auto;
  padding: 92px 0 79px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-bottom: 1px solid #424242;
}

.search__field {
  width: 1086px;
  padding: 0;
  border: none;
  margin: 0 10px 20px 0;
}

.search-form__input-cover {
  margin-bottom: 20px;
}

.search-form__input_type_search {
  width: 1086px;
  background-color: #2F2F2F;
  color: #8B8B8B;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 16px 0 16px 20px;
  border: none;
  border-radius: 8px;
}

.search-form__input_type_search:focus {
  border: none;
  outline: none;
  background-color: #484848;
}

/* .search-form__input-error

.username-error */

.search-form__input_type_checkbox-button {
  appearance: none;
  margin-top: 23px;
}

.search-form__input-label {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  position: relative;
  margin-left: 102px;
}

.search-form__input-label:hover {
  cursor: pointer;
}

.checkbox-indicator {
  background-image: url(../../images/tumboff.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  width: 36px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: -3px;
  left: -48px;
  cursor: pointer;
}

input[type="checkbox"]:checked + .checkbox-indicator {
  background-image: url(../../images/tumb.svg);
}

.button_type_search {
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: none;
  margin-top: 2px;
}

.button_type_search:hover {
  opacity: 0.8;
}

@media all and (max-width: 1279px) {
  .form__cover {
    width: 708px;
    padding: 95px 0 80px;
  }
  
  .search__field {
    width: 654px;
    margin: 0 10px 7px 0;
  }
  
  .search-form__input-cover {
    margin-bottom: 32px;
  }
  
  .search-form__input_type_search {
    width: 654px;
  }
  
  .search-form__input-label {
    margin-left: 100px;
  }

  .button_type_search {
    margin-top: 3px;
  }
}


@media all and (max-width: 767px) {
  .form__cover {
    width: 292px;
    padding-bottom: 50px;
  }
  
  .search__field {
    width: 238px;
    margin: 0 10px 3px 0;
  }
  
  .search-form__input-cover {
    margin-bottom: 37px;
  }
  
  .search-form__input_type_search {
    width: 238px;
    padding: 13px 0 13px 13px;
  }
  
  .search-form__input-label {
    margin-left: 101px;
    font-size: 11px;
    line-height: 18px;
  }

  .button_type_search {
    margin-top: 0;
  }

}